{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "proseWrap": "always",
  "importOrder": ["^@", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": { "proseWrap": "preserve" }
    }
  ]
}
